body
{
    color:black;
    
}
/*# селектор id*/
/*Селекторы классов*/
/*Селекторы тегов*/
/*Дочерние селевторы*/
body > p
{
background: plum;
font-size: 25px;
}
/*Для потомков применяется ко всем потомкам*/
ul li
{
    color:black;
}
/*Потомки*/
p.green a {color:red;}
/*<p class = "green"><a href = "#"></a>*/
p .green a{}
/*<p><b class = "green"><a href = "#"></a></b></p>**/
.green a {}
/*
<h1 class  = "green">
<a href>
</h1>*/

/*Селекторы атрибутов*/
input [type = "text"]
{
    
}
a [href] [title]
{
    
    
}
/*inherit - принудительное наследование от родителей к потомкам, если по умолчанию не наследуется. Не наследуют блочные элементы*/